<ion-view view-title="Ngẫu nhiên Jackpot" ng-init="jackpot.jackpotInit()">
    <ion-content>
        <!-- <ion-list>
      <ion-item ng-repeat="item in main.choose" class="choose-item" ng-class="main.activeItem(item.id)">
        {{item.text}}
      </ion-item>
    </ion-list> -->
        <div ng-class="jackpot.checkFullResult() ? 'jackpot-result-large' : 'jackpot-result'">
            <div>
                <div ng-repeat="item in jackpot.result track by $index" class="jackpot-result-item" ng-class="jackpot.checkFullResult() ? 'jackpot-result-item-text jackpot-result-item-large' : ''" ng-if="$index < 3">
                    <div ng-bind="item || jackpot.renderRandom || '?'"></div>
                    <div ng-if="(item && jackpot.step > ($index+1)) || jackpot.checkFullResult()" ng-bind="jackpot.getRandomLog(item)" class="item-random-log"></div>
                </div>
            </div>
            <div>
                <div ng-repeat="item in jackpot.result track by $index" class="jackpot-result-item" ng-class="jackpot.checkFullResult() ? 'jackpot-result-item-text jackpot-result-item-large' : ''" ng-if="$index >= 3">
                    <div ng-bind="item || jackpot.renderRandom || '?'"></div>
                    <div ng-if="(item && jackpot.step > ($index+1)) || jackpot.checkFullResult()" ng-bind="jackpot.getRandomLog(item)" class="item-random-log"></div>
                </div>
            </div>
        </div>
        <!--<div class="jackpot-random-number" ng-bind="jackpot.renderNumber"></div>-->
        <div class="suggest">
            <button ng-if="(item && jackpot.step > ($index+1)) || jackpot.checkFullResult()" class="button button-royal" ng-class="jackpot.checkSaved() ? '' : 'button-outline'" ng-click="jackpot.checkSaved() ? jackpot.unSave() : jackpot.save()" ng-bind="jackpot.checkSaved() ? 'Đã lưu trữ, hủy lưu' : 'Lưu trữ dãy kết quả'"></button>
        </div>
        <button class="button button-block button-assertive" ng-click="jackpot.start()" ng-bind="jackpot.startLabel"></button>
        <button ng-disabled="jackpot.disabled_random6" class="button button-block button-balanced" ng-click="jackpot.quick()">Ngẫu nhiên <span ng-bind="(6 - jackpot.step +1) >= 6 ? 6 : (6 - jackpot.step +1)"></span> số</button>
        <!--<a href="javascript:void(0);" ng-disabled="main.disallowClick" class="button button-block button-positive" ng-click="main.toggleRun()">{{main.labelRun()}}</a>-->

        <div class="list">
            <div class="item item-divider">
                Thống kê 6 số ngẫu nhiên nhiều nhất
            </div>
            <div class="item" ng-repeat="item in jackpot.listRandomLog track by $index">
                Số <strong>{{jackpot.renderNumber(item.key)}}</strong> ngẫu nhiên xuất hiện <strong>{{item.value}}</strong> lần
            </div>
            <div ng-if="!jackpot.listRandomLog || !jackpot.listRandomLog.length" class="item">
                <div class="button button-block" ng-disabled="true">Chưa có thống kê</div>
            </div>
        </div>
    </ion-content>
</ion-view>