<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button ng-click="rootCtrl.openAddLogPopup()" class="button button-icon button-clear ion-flag add-save-log"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left" menu-toggle="left" expose-aside-when="large">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Jackpot</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item data-ui-sref="app.jackpot">
                    <i class="icon ion-flash"></i> Ngẫu nhiên Jackpot
                </ion-item>
                <ion-item data-ui-sref="app.nRandomFast">
                    <i class="icon ion-flash"></i> Sinh số nhanh
                </ion-item>
                <ion-item data-ui-sref="app.nRandom">
                    <i class="icon ion-flash"></i> Chạy ngẫu nhiên
                </ion-item>
                <ion-item data-ui-sref="app.saveLog">
                    <i class="icon ion-flash"></i> Lưu trữ Jackpot
                </ion-item>
                <ion-item data-ui-sref="app.randomLog">
                    <i class="icon ion-flash"></i> Lịch sử ngẫu nhiên
                </ion-item>
                <ion-item data-ui-sref="app.statistic">
                    <i class="icon ion-flash"></i> Thống kê jackpot
                </ion-item>
                <ion-item data-ui-sref="app.winning">
                    <i class="icon ion-flash"></i> Kết quả jackpot
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-calm" ng-click="rootCtrl.openAddLogPopup()">
            <div class="title add-save-log">
                <i class="icon ion-flag"></i> Đánh dấu dãy số
            </div>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>