<ion-view view-title="Lưu trữ Jackpot" ng-init="jackpot.saveLogInit()">
    <ion-content>
        <div ng-if="jackpot.saveLogList && jackpot.saveLogList.length">
            <div ng-click="jackpot.unSaveAll()" class="button button-block button-assertive">Xóa tất cả</div>
            <div class="list">
                <div class="item" ng-repeat="item in jackpot.saveLogList track by $index">
                    <!--<div class="row">-->
                    <span class="savelog-number" ng-repeat="number in item">
                        {{jackpot.renderNumber(number)}}
                        <sup ng-bind="jackpot.getRandomLog(number)" class="savelog-sup"></sup>
                    </span>
                    <span class="item-note" ng-click="jackpot.unSave(item)">
                        Xóa
                    </span>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div ng-if="!jackpot.saveLog || !jackpot.saveLog.length">
            <div class="button button-block" ng-disabled="true">Chưa có dãy kết quả được lưu trữ</div>
        </div>
    </ion-content>
</ion-view>