<div class="jackpot-result">
    <div>
        <div ng-repeat="item in jackpot.suggestNumber track by $index" class="jackpot-result-item" ng-if="$index < 3">
            <div ng-bind="item || '?'"></div>
            <div ng-if="item" ng-bind="jackpot.getRandomLog(item)" class="item-random-log"></div>
            <div ng-if="item" ng-bind="jackpot.getStatisticLog(item)" class="item-statistic-log"></div>
        </div>
    </div>
    <div>
        <div ng-repeat="item in jackpot.suggestNumber track by $index" class="jackpot-result-item" ng-if="$index >= 3">
            <div ng-bind="item || '?'"></div>
            <div ng-if="item" ng-bind="jackpot.getRandomLog(item)" class="item-random-log"></div>
            <div ng-if="item" ng-bind="jackpot.getStatisticLog(item)" class="item-statistic-log"></div>
        </div>
    </div>
</div>