/* Empty. Add your own CSS if you like */

* {
    padding: 0;
    margin: 0;
}

.choose-item {
    text-align: center;
    padding: 15px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: -1px;
}

.choose-item-active {
    color: #fff;
    background-color: #e6b500;
}

.has-result {
    background-color: #28a54c !important;
}

.toggle-button {
    max-width: 250px;
    width: 100%;
    background-color: blue;
    margin: 10px auto;
    display: block;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.jackpot-result {
    text-align: center;
    padding: 15px 0;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
}

.jackpot-result-large {
    text-align: center;
    padding: 50px 0;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
}

.jackpot-result-item {
    /*border-radius: 10px;*/
    display: inline-block;
    padding: 30px 0;
    margin: 10px 3%;
    width: 20%;
    max-width: 150px;
    font-size: 40px;
    color: #555;
    border: 1px solid #555;
    text-align: center;
    position: relative;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
}

.jackpot-result-item-large {
    width: 27%;
    padding: 40px 0;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
}

.jackpot-result-item-text {
    font-size: 60px;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
}

.item-random-log {
    font-size: 13px;
    position: absolute;
    top: 2px;
    right: 2px;
    color: red;
    line-height: 7px;
    font-weight: 700;
}

.item-statistic-log {
    font-size: 13px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: limegreen;
    line-height: 7px;
    font-weight: 700;
}

.jackpot-random-number {
    text-align: center;
    padding: 30px 0px;
    font-size: 60px;
    color: #555
}

.suggest {
    text-align: center;
    padding: 5px 0px;
}

.suggest-item {
    display: inline-block;
    width: 13%;
    max-width: 130px;
    border: 1px solid #28a54c;
    margin: 0px 1%;
    padding: 10px 0;
    position: relative;
}

.savelog-sup {
    color: red;
    opacity: 0.8;
    font-size: 11px;
}

.savelog-number {
    font-size: 20px;
}

@media only screen and (max-width: 414px) {
    .jackpot-result-item {
        font-size: 25px;
        padding: 20px 0px;
    }
    .jackpot-result-item-text {
        font-size: 35px;
    }
    .item-random-log {
        font-size: 12px;
    }
    .jackpot-result-item-large {
        padding: 30px 0;
    }
    .savelog-sup {
        font-size: 9px;
    }
    .savelog-number {
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .jackpot-result-item {
        font-size: 20px;
        padding: 15px 0px;
    }
    .jackpot-result-item-text {
        font-size: 28px;
    }
    .item-random-log {
        font-size: 11px;
    }
    .jackpot-result-item-large {
        padding: 22px 0;
    }
    .savelog-sup {
        font-size: 8px;
    }
    .savelog-number {
        font-size: 12px;
    }
}

.table {
    width: 100%;
}

.table th,
.table td {
    padding: 5px 0;
    text-align: center;
    border: 1px solid #eee;
}

.table thead {
    background: #ccc;
}

.table a {
    color: #000;
}

.table td span {
    color: orangered;
}

.title.add-save-log {
    font-size: 14px;
    font-weight: normal;
}